include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
recursive-include feincms_banners/static *
recursive-include feincms_banners/locale *
recursive-include feincms_banners/templates *
